<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=My Work">
	<link th:href="@{../style/style.css}" rel="stylesheet">
</head>

<body>
<div th:fragment="header">
	<header>
		<div class="header-left">
			<a class="top-btn" href="#">DEMO</a>
		</div>
		<div class="header-right">
			<a th:text="${topTitle}" href="#"></a>
			<a th:text="${aboutTitle}" href="#"></a>
			<a th:text="${comtactTitle}" href="#"></a>
		</div>
	</header>
</div>

<div th:fragment="footer">
	<footer>
		<p>© 2024 DEMO Website</p>
	</footer>
</div>
</body>